layout {
    tab focus=true name="IDE + Term"  {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" focus=true{
            pane size="65%" name="LunarVim"{
                command "lvim" 
                args "."
            }
            pane size="25%" name="Terminal"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab focus=false name="LazyGit" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="lazygit"

        pane size=2 borderless=true {
            plugin location="zellij:status-bar"

        }
    }
    
    
}
